body {
    height: 100%;
    width: 100%;
	background-color: #e6e6e6;
}
#nav {
    width:100%;
    text-align: center;
}

#nav ul li {
    text-align:center; 
    position: relative;
    display: inline-block;
}

#nav ul li a{ 
    text-decoration:none;
    margin-right: 80px;
}

/* unvisited link */
a:link {
    color: yellow;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: #ff4d4d;
}

h1{
	color: black;
	font-family: "Times New Roman", Georgia, Serif;
    font-size: 250%;
    text-align: center;
    padding-top: 25px;
}

h2 {
	color: black;
	font-family: "Times New Roman", Georgia, Serif;
    font-size: 200%;
    text-align: center;
}

h3, h4, h5, h6{
    color: black;
    font-family: "Times New Roman", Georgia, Serif;
    text-align: center;
}

p  {
    color: red;
    font-family: "Times New Roman", Georgia, Serif;
    text-align: center;
}

.body {
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}

.actorlist{
    float: left;
    margin-left: 3%;
    text-decoration: none;
}

ul li{
    color: red;
}

#pickyour{
    background-image: url('/Users/gbrar/devbootcamp/GBrar.github.io/images/007.jpg');
    border: 2px solid black;
    color: orange;
    display: inline-block;
    margin-left: 30%;
    text-align: center;
}

@media screen and (max-width: 500px) {
    body {
      background-color: white;
    }
    p {
      color: black;
    }
    ul li{
      color: black;
    }
    img{
        height: auto;
        width: 100%;
        
    }
}





