body {
	background-color: #ffff80;
}

h1 {
	color: black;
	font-family: "Times New Roman", Georgia, Serif;
    font-size: 250%;
    text-align: center;
}

h2 {
	color: black;
	font-family: "Times New Roman", Georgia, Serif;
    font-size: 200%;
    text-align: center;
}

h3, h4, h5, h6{
    color: black;
    font-family: "Times New Roman", Georgia, Serif;
    text-align: center;
}

p  {
    color: red;
    font-family: "Times New Roman", Georgia, Serif;
    text-align: center;

}

nav ul li a {
	display: inline;
}

ul {
    list-style-type: none;
}

/* unvisited link */
a:link {
    color: #331a00;
}

/* visited link */
a:visited {
    color: gold;
}

/* mouse over link */
a:hover {
    color: #ff4d4d;
}
